@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import "tailwindcss";

:root {
    --primary-color: #0d9488;
} 

.pacifico-regular {
  font-family: "Pacifico", cursive;
}
